.nitro-inventory {
    width: $inventory-width;
    height: $inventory-height;

    .empty-image {
        background: url('../../assets/images/inventory/empty.png');
        width: 129px;
        height: 181px;
    }

    .trade-button {
        min-height: 0;
        font-size: 8px;
        padding: 1px 2px;
        z-index: 5;
    }
}

.gnui-inv-empt-title {
    color: #ddd !important;
}

.gnui-inv-empt-desc {
    color: #919191 !important;
}

.gnui-inv-srch-btn {
    color: #fff;
}

.gnui-slctd-itm-txt {
    color: #adadad !important;
}

.gnui-inv-plc-itm-btn,
.gnui-inv-plc-itm-btn:hover {
    color: #fff;
}
