.nitro-inventory {
    width: $inventory-width;
    height: $inventory-height;

    .empty-image {
        background: url('../../assets/images/inventory/empty.png');
        width: 129px;
        height: 181px;
    }

    .trade-button {
        min-height: 0;
        font-size: 8px;
        padding: 1px 2px;
        z-index: 5;
    }
}

.gnui-form-control,
.gnui-form-control:focus {
    background: rgba(0,0,0,.2);
    border: 1px solid rgb(17, 17, 17) !important;
    color: #fff !important;
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,.12), inset 0px 3px 0px 0px rgba(255,255,255,.02);
}
