$nitro-card-header-height: 33px;
$nitro-card-tabs-height: 33px;

.nitro-card {
    resize: both;

    @include media-breakpoint-down(lg) {
        max-width: 100vw !important;
        max-height: 100vh !important;
    }

    &.theme-primary {
        border: 1px solid rgba(255, 255, 255, .15);
        border-radius: 10px !important;

        .nitro-card-header {
            min-height: 39px;
            max-height: 39px;
            background: rgba(28, 28, 32, 0.95);
            box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,.12), inset 0px 4px 0px 0px rgba(255,255,255,.05);

            .nitro-card-header-text {
                color: $white;
                text-shadow: 0px 4px 4px rgba($black, 0.25);
                @include font-size($h4-font-size);
            }

            .nitro-card-header-close {
                cursor: pointer;
                padding: 1px 3px;
                line-height: 1;
                border-radius: $border-radius;
                box-shadow: 0 0 0 1.6px $white;
                border: 2px solid #921911;
                background: repeating-linear-gradient(
                    rgba(245, 80, 65, 1),
                    rgba(245, 80, 65, 1) 50%,
                    rgba(194, 48, 39, 1) 50%,
                    rgba(194, 48, 39, 1) 100%
                );
        
                &:hover {
                    filter: brightness(1.2);
                }
        
                &:active {
                    filter: brightness(0.8);
                }
            }
        }

        .nitro-card-tabs {
            background-color: rgba(40,40,46,.8);
            box-shadow: 0px 3px 5px white;

            .nav-item {
                padding: $nav-link-padding-y $nav-link-padding-x;
                background-color: rgba(40, 40, 40, .83);
                border-color: #202020 !important;
                border: 1px solid;
                border-bottom-color: #202020;
                color: #dfdfdf;
                z-index: 1;
                margin-bottom: -1px;

                &.active {
                    background-color: rgba(255, 193, 7, .88);
                    border-color: #202020 !important;
                    border-bottom-color: #202020;
                    border: 1px solid;
                    color: #fff;

                    &:before {
                        background: rgba(255, 255, 255, .29);
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    width: 93%;
                    height: 3px;
                    border-radius: 0.25rem;
                    top: 1.5px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background: rgba(106, 104, 104, .05);
                    z-index: 1;
                }
            }
        }

        .content-area {
            background-color: rgba(28, 28, 32, 0.95);
        }
    }

    &.theme-primary-slim {
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 8px !important;

        .nitro-card-header {
            position: relative;
            min-height: 33px;
            max-height: 33px;
            background: rgba(28, 28, 32, 0.95);
            box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,.12), inset 0px 4px 0px 0px rgba(255,255,255,.02), 0 1px 5px 0px rgba(165, 165, 165,.07);
            width: 100%;
            margin: 0;
            padding-top:2px;
            

            .nitro-card-header-text {
                color: $white;
                text-shadow: 0px 4px 4px rgba($black, 0.25);
                @include font-size($h5-font-size);
                min-height: 21px;
            }

            .nitro-card-header-close {
                cursor: pointer;
                padding: 0px 2px;
                line-height: 1;
                @include font-size($h7-font-size);
                border-radius: $border-radius;
                box-shadow: 0 0 0 1.6px $white;
                border: 2px solid #921911;
                background: repeating-linear-gradient(
                    rgba(245, 80, 65, 1),
                    rgba(245, 80, 65, 1) 50%,
                    rgba(194, 48, 39, 1) 50%,
                    rgba(194, 48, 39, 1) 100%
                );

                &:hover {
                    filter: brightness(1.2);
                }
        
                &:active {
                    filter: brightness(0.8);
                }
            }
        }

        .nitro-card-tabs {
            background-color: $secondary;
        }

        .content-area {
            background-color: rgba(28, 28, 32, 0.95);
        }
    }
}

.content-area {
    height: 100%;
    padding-top: $container-padding-x;
    padding-bottom: $container-padding-x;
    overflow: auto;

    &.theme-dark {
        background-color: #1C323F !important;
    }
}

@include media-breakpoint-down(lg) {
    .content-area {
        height: 100% !important;
        min-height: auto !important;
        max-height: 100% !important;
    }
}

.nitro-card-header {
    position: relative;
    height: 100%;
}

.nitro-card-tabs {
    height: 100%;
    min-height: 43px;
    max-height: 43px;
    border-bottom: 1px solid #202020 !important;
}

.nitro-card-accordion-set {

    &.active {
        height: 100%;
        overflow: hidden;
        background: rgba($white, 0.5);
        border-bottom: 1px solid rgba($black, 0.2);
    }

    .nitro-card-accordion-set-header {
        border-bottom: 1px solid rgba($black, 0.2);
    }
}

.gnui-card-tabs-border {
    border-bottom: 1px solid #202020 !important;

}

.gnui-mod-btn {
    color: #fff !important;
    background-color: #ca9c14 !important;
    border-color: #ca9c14 !important;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255,.15), inset 0 -2px rgba(0, 0, 0,.10), 0 1px rgba(0, 0, 0,.10);
}

.gnui-txt-white {
    color: #fff !important;
}

.gnui-txt-swhite {
    color: gray !important;
}

.gnui-txt-left {
    text-align: left !important;
}

.gnui-item-container {
    background-color: rgba(82, 82, 82, .21);
    border-color: #383838 !important;
}

.gnui-item-prev {
    border-color: rgba(255, 255, 255, 0.05) !important;
    background-color: rgba(82, 82, 82, 0.21);
    border: 1px solid !important;
}

.gnui-item-prev.active {
    border-color: rgba(255, 255, 255, 0.05) !important;
}

.gnui-item-prev:hover {
    background-color: rgba(82, 82, 82, 0.31);
}

.gnui-border-trans {
    border-color: rgba(255, 255, 255, .05);
    background-color: rgba(255, 255, 255, .05);
}

.gnui-border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, .05);
}
