.nitro-navigator {
    width: $navigator-width;
    height: $navigator-height;

    .navigator-grid {

        .navigator-item {

            .badge {
                width: 35px;
                min-width: 35px;
            }
        }

        &:not(.two-columns) {

            .navigator-item {
    
                &:nth-child(odd) {
                    background-color: #222;
                }
            }
        }
    
        &.two-columns {
    
            .navigator-item {
        
                &:nth-child(4n-2),
                &:nth-child(4n-3) {
                    background: $grid-active-bg-color;
                }
            }
        }
    }
}

.nitro-navigator-doorbell,
.nitro-navigator-password {
    width: 250px;
}

.nitro-room-info {
    width: $room-info-width;
}

.nitro-room-link {
    width: 400px;
}

.nitro-room-settings {
    width: 400px;

    .list-container {
        height: 100px;

        .list-item {
            background-color: $grid-active-bg-color;
        }
    }
}

.room-info {
    width: 275px;
}

.gnui-bg-nav-srch-vw {
    background-color: rgba(82, 82, 82, .21);
    border-color: #383838 !important;
}

.gnui-nav-srch-btn,
.gnui-nav-srch-btn:hover {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.gnui-form-control,
.gnui-form-control:focus {
    background: #1c1c1c;
    border: 1px solid #1a1a1a !important;
    color: #818181 !important;
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,.12), inset 0px 3px 0px 0px rgba(255,255,255,.02);
}

.gnui-nav-txt-light {
    color: #a3a3a3 !important;
}

.gnui-nav-cat-ttl {
    color: #fff !important;
}

.gnui-bg-nav-itm-big {
    background-color: #3a3a3a !important;
    border-color: rgba(255, 255, 255, .08) !important;
}

.gnui-nav-itm-big-txt {
    color: #bdbdbd !important;
}

.gnui-room-info-ttl {
    color: #fff !important;
}

.gnui-room-info-btn {
    color: #fff !important;
}

.gnui-room-info-txt {
    color: #a9a9a9 !important;
}

.border {
    border-color: rgba(255,255,255,.05) !important;
}
